body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-image:url('/Realm-website/images/Background.png');
}

h1 {
	color: rgb(0,0,200);
	text-align:center;
	font-family: Palatino, 'Palatino Linotype' , serif;
	font-size: 2em;
	height:1em;
}

h2 {
	font-size: 2em;
}

p.main {
	font-size: 1.5em;
	background-image:url('/Realm-website/images/Big_Oak_Log.png');
	margin:.5em 10em 5em 10em;
}

p.secondary {
	font-size: 1.5em;
	background-image:url('/Realm-website/images/Big_Oak_Log.png');
	margin:-4.2em 10em 5em 10em;
	
}

.left_menu {
	float: left;
	background-image:url('/Realm-website/images/Birch_Log.png');
	margin:1em 1em;
	line-height:1.5em;
	
}

ul.left_menu{
	list-style-position:outside;
	list-style-type: none;
	padding:10px 20px 5px 20px;
}

menu {
	color: rgb(0,0,0);
	text-align:center;
	font-family: Palatino, 'Palatino Linotype' , serif;
	font-size: 2em;
	height:1.3em;
}

title {
	color: rgb(28,200,2);
	text-align:left;
	font-family: Palatino, 'Palatino Linotype' , serif;
	font-size: 2em;
	margin: .5em 11.1em;
	height:1em;
	background-color:rgb(0,0,50);
}

a:visited, a:link {
	color: rgb(0,155,155);
	text-decoration: none;
	display:inline-block;
}

a:hover, a:active {
	color: rgb(0,105,105);
	text-decoration: none;
	display:inline-block;
}

menu a:visited, menu a:link {
	color: rgb(155,0,155);
	text-decoration: none;
	background-color:rgb(0,200,200);
	border-radius:10px;
	display:inline-block;
	border:.1em solid rgb(0,100,100);
	padding: .1em .2em;
}

menu a:hover, menu a:active {
	color: rgb(105,0,105);
	background-color:rgb(0,150,150);
	text-decoration: none;
	border-radius:10px;
	display:inline-block;
	border:.1em solid rgb(0,200,200);
	padding: .1em .2em;
}

span {
    display: block;
}

ul.left_menu li a:visited, ul.left_menu li a:link {
	color: rgb(155,155,155);
	text-decoration: none;
	display:inline-block;
	padding: .1em .2em;
}

ul.left_menu li a:hover, ul.left_menu li a:active {
	color: rgb(135,135,135);
	text-decoration: none;
	display:inline-block;
	padding: .1em .2em;
}
