body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

h1 {
	color: rgb(0,0,0);
	text-align:center;
	font-family: Palatino, 'Palatino Linotype' , serif;
	font-size: 2em;
	height:1em;
}

h2 {
	font-size: 2em;
}

p.main {
	font-size: 1.5em;
	background-color:rgba(140,140,140,.6);
	margin:.5em 10em 5em 10em;
}

p.secondary {
	font-size: 1.5em;
	background-color:rgba(140,140,140,.6);
	margin:-4.2em 10em 5em 10em;
}

.left_menu {
	float: left;
	background-color:rgba(100,100,100,.1);
	margin:1em 1em;
	line-height:1.5em;
	border-radius: 1em;
}

.right_menu {
	float: right;
	background-color:rgba(100,100,100,.1);
	margin:1em 1em;
	line-height:1.5em;
	border-radius: 1em;
}

ul.left_menu{
	list-style-position:outside;
	list-style-type: none;
	padding:10px 20px 5px 20px;
}

ul.right_menu{
	list-style-position:outside;
	list-style-type: none;
	padding:10px 20px 5px 20px;
}

menu {
	color: rgb(0,0,0);
	text-align:center;
	font-family: Palatino, 'Palatino Linotype' , serif;
	font-size: 2em;
	height:1.3em;
}

title {
	color: rgb(28,200,2);
	text-align:left;
	font-family: Palatino, 'Palatino Linotype' , serif;
	font-size: 2em;
	margin: .5em 11.1em;
	height:1em;
	background-color:rgb(0,0,50);
}

a:visited, a:link {
	text-decoration: none;
	display:inline-block;
}

a:hover, a:active {
	text-decoration: none;
	display:inline-block;
}

menu a:visited, menu a:link {
	color: rgb(155,0,155);
	text-decoration: none;
	background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
	border-radius:10px;
	display:inline-block;
	border:.1em solid rgba(255,255,255,.5);
	padding: .1em .2em;
}

menu a:hover, menu a:active {
	color: rgb(105,0,105);
	background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
	text-decoration: none;
	border-radius:10px;
	display:inline-block;
	border:.1em solid rgb(0,0,0);
	padding: .1em .2em;
}

span {
    display: block;
}

ul.left_menu li a:visited, ul.left_menu li a:link {
	color: rgb(155,155,155);
	text-decoration: none;
	display:inline-block;
	padding: .1em .2em;
}

ul.left_menu li a:hover, ul.left_menu li a:active {
	color: rgb(135,135,135);
	text-decoration: none;
	display:inline-block;
	padding: .1em .2em;
}
