<!DOCTYPE html>
<html>
<head>
	<title>Zelda Craft</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="shortcut icon" href="zeldacraft.github.io/zelda-craft/images/Big_Oak_Log.png" type="image/png">
</head>
<body>
	<h1>Zelda Craft</h1>
	<menu>|<a href="https://zeldacraft.github.io/zelda-craft/">home</a>|<a href="https://zeldacraft.github.io/zelda-craft/admins-players.html">admins</a>|</menu>
	<ul class="left_menu">
		<li><B>Alternate Websites</B></li>
		<li><br></li>
		<li>Sorry none yet!</li>
	</ul>
	<ul class="right_menu">
		<li>Sublinks</li>
	</ul>
	
</body>
</html>
