<!DOCTYPE html>
<html>
<head>
	<title>ron's relm website-Locations</title>
	<link rel="stylesheet" href="css/main.css" type="text/css"/>
</head>
<body>
	<h1>ron's relm website</h1>
	<menu>|<a href="_layouts/default.html">home</a>|<a href="_layouts/about.html">about</a>|<a href="_layouts/downloads.html">downloads</a>|<a href="_layouts/admins-players.html">admins/players</a>|<a href="_layouts/locations.html">Locations</a>|</menu>
	<p class="main"><b>Locations</b><span> </span>TARDIS<span> </span><img src="/images/local1.png"/> <span> </span>The TARDIS was origonally made in the future on the planet Galefrey, but got stuck in medievil times. Soon after the doctor arrived he died, but the TARDIS was passed onto a person of that time by the name Rontron3000YT, and the TARDIS is now constantly being renued by Rontron3000YT and Webbcode with there ultimate goal to make it work enough to tavel through time again someday...</p>
	<p class="secondary">TAPDIS<span> </span> <img src="/images/local5.png"> <span> </span>The TAPDIS was a model of a TARDIS, and also stuck in medievil time it has only two locations and can't go through time. The origonal owner is still alive and goes by the name of King_Clover_Pig.</p>
</body>
</html>
